@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html, body {
  background: #e2e1e0;
}
.join-input {
  margin: 0 35%;
}
.join-input input {
  text-align: center;
}
@media screen and (max-width: 760px) {
  .join-input {
    margin: 0 15%;
  }
}

.error-msg {
  color: darkred;
}

.join-code {
  display: inline-block !important;
  font-size: 5rem;
  margin: 1rem;
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.player-tile {
  display: inline-block !important;
  border-radius: 0.5rem;
  font-size: 2rem;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  background-color: white;
}

.pair-tile {
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 243, 243);
    padding: 0.4em;
    margin-bottom: 1.5em;
    border-radius: 10px;
    font-size: 0.8em;
    transition: ease 0.3s; 
}

.is-player-pair {
  font-size: 1.3em;
  background-color: hsl(153, 53%, 53%); 
}

@media screen and (max-width: 750px) {
  .pair-tile {
    display: block;
    text-align: center;
    font-size: 0.5em;
    padding: 0.2em;
  }
  .is-player-pair {
    font-size: 0.8em;
  }
}


.skill-input img {
  height:5rem;
  width:auto;
}

.skill-input button {
  height:5rem;
  width:5rem;
}

@media screen and (max-width: 760px) {
  .skill-input button {
    height: 4rem;
    width: 4rem;
  }
}

.start-btn {
  position: absolute;
  bottom: 0;
  margin: 1rem;
}