<div class="columns is-centered">
  <div class="column">
    <!-- container for the game completed button and game messages -->
    <div class="my-6">
      <!-- only show button if it is not a bye -->
      <button
        x-show="!isBye && !gameSubmitted"
        @click="$refs.selectModal.classList.add('is-active')"
        class="button is-primary is-large"
      >
        Game Completed
      </button>
      <h1
        x-ref="gameSubmitMsg"
        x-show="gameSubmitted && !isBye"
        class="is-size-2"
      ></h1>
      <!-- show this message if it is a bye -->
      <h1 x-show="isBye" class="is-size-2">
        Unlucky! Please go spectate the other matches.
      </h1>
    </div>
    <!-- modal for selection. Only show if its not a bye and there are pairings created -->
    <template x-if="!isBye && playerPair !== null">
      {% include "components/win-selection-modal.html" %}
    </template>
    <div class="pairings box mx-2">
      <template x-for="pair in pairings">
        <div>
          <!-- even amount of players -->
          <template x-if="pair.length == 2 ">
            <h1
              class="pair-tile"
              :class="{ 'is-player-pair' : pair == playerPair}"
            >
              <span x-text="pair[0].name"></span>
              <span x-text="pair[1].name"></span>
            </h1>
          </template>
          <!-- uneven amount of players -->
          <template x-if="pair.length == 1">
            <h1
              class="pair-tile"
              :class="{ 'is-player-pair' : playerPair == pair}"
            >
              <span x-text="pair[0].name"></span> <span>Bye - Sitout :(</span>
            </h1>
          </template>
        </div>
      </template>
    </div>
  </div>
</div>
