<section
  x-data="joinRoomHandler(parent.socket, parent)"
  class="hero is-fullheight has-text-centered"
>
  <div class="hero-body">
    <div class="container">
      <div x-show="!joinedRoom">
        <p class="block is-size-2">Enter Join Code</p>
        <div class="join-input block">
          <input
            x-model="code"
            x-mask="999 999"
            class="input is-large"
            placeholder="123 456"
            maxlength="10"
            required
          />
        </div>

        <div x-text="error" class="error-msg"></div>

        <div class="block">
          <button
            @click="checkCode()"
            :disabled="code.length != 7"
            class="mt-4 button is-primary is-large"
          >
            Join Competition
          </button>
        </div>
      </div>
      <div x-show="joinedRoom">
        <p class="block is-size-2">Enter Your Name</p>
        <div class="join-input block">
          <input
            @input.debounce.250ms="checkName()"
            x-model="name"
            class="input is-large"
            placeholder="Jason Quang"
            maxlength="14"
            
          />
        </div>
        <p class="block is-size-2">Select Skill Level</p>
        <div class="skill-input block">
          <button
            class="button"
            :class="skill==1 ? 'is-focused' : null"
            @click="setSkill(1)"
            x-tooltip.arrowless.raw="Novice"
          >
            <img src="static/assets/pawn.png" />
          </button>
          <button
            class="button"
            :class="skill==2 ? 'is-focused' : null"
            @click="setSkill(2)"
            x-tooltip.arrowless.raw="Amateur"
          >
            <img src="static/assets/knight.png" />
          </button>
          <button
            class="button"
            :class="skill==3 ? 'is-focused' : null"
            @click="setSkill(3)"
            x-tooltip.arrowless.raw="Intermediate"
          >
            <img src="static/assets/bishop.png" />
          </button>
          <button
            class="button"
            :class="skill==4 ? 'is-focused' : null"
            @click="setSkill(4)"
            x-tooltip.arrowless.raw="Advanced"
          >
            <img src="static/assets/rook.png" />
          </button>
          <button
            class="button"
            :class="skill==5 ? 'is-focused' : null"
            @click="setSkill(5)"
            x-tooltip.arrowless.raw="Master"
          >
            <img src="static/assets/queen.png" />
          </button>
        </div>

        <!-- error variable is reused for both forms -->
        <div x-text="error" class="error-msg"></div>

        <div class="block">
          <button
            @click="joinRoom()"
            :disabled="name.length < 3 || !validName || skill === null"
            class="mt-4 button is-primary is-large"
          >
            Join
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
